<footer>
    <span> &copy; 2019-2021 Bill Segall</span>&nbsp; &nbsp; &nbsp;
    <span> <a href="privacy.html">Privacy Policy</a> </span>&nbsp; &nbsp; &nbsp;
    <span> <a href="cookies.html">Cookies Policy</a> </span>&nbsp; &nbsp; &nbsp;
    <span> Market data from <a href="https://eoddata.com">EodData</a>, Symbol data from <a href="https://www.listcorp.com">listcorp</a> and shorts data from <a href="https://asic.gov.au/regulatory-resources/markets/short-selling/short-position-reports-table/">ASIC</a></span>&nbsp; &nbsp; &nbsp;
</footer>
